
body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

.contenedor-catalogo {
  padding: 20px;
  text-align: center;
}

.grid-peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.tarjeta-peli {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.2s ease;
}

.tarjeta-peli:hover {
  /* transform: scale(1.03); */
  border: 2px solid transparent;
  /* transition: transform 0.25s ease, border-color 0.25s ease; */
}

.img-portada {
  width: 100%;
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.destacada {
    color: #d4a017;
    font-weight: bold;
    margin-top: 8px;
}